@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Inconsolata:wght@400;600;700&family=Playfair+Display:wght@700&family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,400&display=swap');

:root {
  --primary-color: #AB3603;
  --secondary-color: #ECE0D1;
  --bs-primary: #AB3603;
  --primary-hover: #d04b11;

}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: var(--primary-color);
  --bs-btn-border-color: var(--primary-color);
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: var(--primary-hover);
  --bs-btn-hover-border-color: var(--primary-hover);
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: var(--primary-color);
  --bs-btn-active-border-color: var(--primary-color);
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #9f867a;
  --bs-btn-disabled-border-color: #9f867a;
}


body {
  background-color: #160B0A;
  color: var(--secondary-color);
  font-family: 'Poppins';
}

h1 {
  font-size: 2.5625rem;
}

h2 {
  font-size: 2.375rem;
}

h3 {
  font-size: 2.125rem;
}

h4 {
  font-size: 1.875rem;
}

h5 {
  font-size: 1.625rem;
}

h6 {
  font-size: 1.375rem;
}

.small-body {
  font-size: 0.9rem;
}

a {
  color: var(--secondary-color);
  text-decoration: underline;
}

a:hover {
  color: var(--primary-color);
}

.header {
  height: 100px;
  width: 100%;
  border-bottom: 2px solid #ECE0D1;
}

.header-logo {
  width: 54px;
  height: auto;
  margin-bottom: 30px;
}

.header-title {
  font-family: 'Playfair Display';
  font-size: 38px;
}

.header a {
  text-decoration: none;
  color: var(--secondary-color);
  padding: 0px 10px;
}

.header a:hover {
  color: var(--primary-color);
}

.dropdownmenu {
  position: relative;

}

.menu {
  position: absolute;

  list-style-type: none;
  top: 50px;
  background-color: #160B0A;
  border: 1 px solid var(--secondary-color);
  border-radius: 20px;
  padding: 20px;
  width: 150px;
}

.menu>li {
  margin: 0;
  color: var(--secondary-color);
}

.menu>li:hover {
  text-decoration: underline;
}

.menu>li>button {
  width: 100%;
  height: 100%;
  text-align: left;

  background: none;
  color: inherit;
  border: none;
  padding: 5px;
  margin: 0;
  font: inherit;
  cursor: pointer;
}

.icon-secondary-color {
  color: var(--secondary-color);
}

.icon-primary-color {
  color: var(--primary-color);
}

.footerTitle {
  font-family: 'Playfair Display';
  font-size: 28px;
  font-weight: 700;
}

.footer {
  background-color: #251A11;
  border-top: 3px solid var(--secondary-color);
  padding-top: 42px;
  padding-bottom: 120px;
}

.footer a {
  text-decoration: none;
}

.footer p {
  font-size: 16px;
}

.footer ul {
  list-style: none;
}

.footerPayment {
  height: 50px;
  width: fit-content;
}

.footerSearch input {
  background-color: #251A11;
  border: 1px solid var(--secondary-color);
  color: var(--secondary-color);
  border-right: none;
}

.footerSearch button {
  height: 42px;
  border-left: none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  border: 1px solid var(--secondary-color);
  border-left: none;
}