.boxGallery {
    width: 210px;
    height: 210px;
    border-radius: 20px;
    margin: 20px 20px;
}

#box1 {
    background: url('../../assets/img/nathan-dumlao-wl5lJvJhkRM-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#box2 {
    background: url('../../assets/img/nathan-dumlao-2z3MOB3kfJU-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#box3 {
    background: url('../../assets/img/karl-fredrickson-TYIzeCiZ_60-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#box4 {
    background: url('../../assets/img/nathan-dumlao-71u2fOofI-U-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#box5 {
    background: url('../../assets/img/rizky-subagja-1k7TnX5GAww-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#box6 {
    background: url('../../assets/img/tabitha-turner-F0Wd4djYvSA-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#box7 {
    background: url('../../assets/img/sincerely-media-ylveRpZ8L1s-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#box8 {
    background: url('../../assets/img/nathan-dumlao-T5qXJ2VpV6M-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#box9 {
    background: url('../../assets/img/nathan-dumlao-Y3AqmbmtLQI-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#box10 {
    background: url('../../assets/img/fahmi-fakhrudin-nzyzAUsbV0M-unsplash.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}