.hero-home {
  background-image: url("../../assets/img/tina-guina-obV_LM0KjxY-unsplash.jpg"), linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  background-blend-mode: overlay;
}

.promo-code {
  background-color: var(--secondary-color);
  color: #251A11;
  width: fit-content;
  border-radius: 20px;
  padding: 0.5em 2em;
  margin-right: 2em;
  margin-top: 2em;
  box-shadow: 17px 17px 0 -2px #160B0A, 17px 17px 0 0 var(--secondary-color);
  align-self: flex-end;
}