.reviewsHome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 25px;
    height: 276px;
    background: #251A11;
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
}

.reviewsHome p {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}